<div class="entry-section" id="container">
  <form class="form-address" id="address">

    <div class="flex-container">
      <label>Phone</label>
      <div class="flex-item c-2column">
        <input id="phone" value="" name="phone" type="tel" placeholder="888 888-8888" pattern="[0-9]{3} [0-9]{3}(-)[0-9]{4}" maxlength="12" title="Ten digits code" required />
        <i class="errorTxt"></i>
      </div>
      <div class="flex-item c-2column">
        <select id="date-month" required>
          <option value="">Month</option>
        </select>
        <select id="date-day" required>
          <option value="">Day</option>
        </select>
        <select id="date-year" required>
          <option value="">Year</option>
        </select>
        <i class="errorTxt"></i>
      </div>
    </div>

    <!-- Search Field -->
    <div class="flex-container c-1column" id="locationField">
      <label>Search for your address</label>
      <input class="flex-item" value="" id="autocomplete" placeholder="address, zip or city" type="text" required>
      <button type="button" id="action-edit">edit</a>
    </div>
    <div id="autocomplete-edit">
      <!-- Street Address -->
      <div class="flex-container">
        <label>Street address</label>
        <div class="flex-item c-2column">
          <input id="street_number" required>
        </div>
        <div class="flex-item c-2column">
          <input id="route" required>
        </div>
      </div>

      <!-- City -->
      <div class="flex-container">
        <label>City</label>
        <input class="flex-item c-1column" id="locality" required>
      </div>

      <!-- State & Zip -->
      <div class="flex-container">
        <div class="flex-item c-2column">
          <label>State</label>
          <input id="administrative_area_level_1" required>
        </div>

        <div class="flex-item c-2column">
          <label>Zip code</label>
          <input id="postal_code" value="" title="Enter valid ZIP 4-5 numbers" required>
          <i class="errorTxt"></i>
        </div>
      </div>

      <!-- Country -->
      <div class="flex-container">
        <label>Country</label>
        <input class="flex-item c-1column" id="country" required>
      </div>
      <div class="flex-container">
        <div class="flex-item c-2column">
          <button type="button" id="action-reset">reset</button>
    </div>
    <div class="flex-item c-2column">
      <button type="button" id="action-save">Save</button>
    </div>
</div>

</div>

<!-- County and Court of Violation -->
<div class="flex-container">
  <div class="flex-item c-2column">
    <label>County of Violation: *</label>
    <input class="w-100" name="county" id="county" type="text" placeholder="Select County">
    <label>Law Enforcement Agency (LEA): *</label>
    <select class="w-100" name="lea" id="lea" disabled>
      <option value="" selected>Select Court</option>
      <option value="Alameda Court">Alameda Court</option>
    </select>
  </div>
  <div class="flex-item c-2column">
    <label>Court of Violation: *</label>
    <select class="w-100" name="court" id="court" disabled>
          <option value="" selected>Select Court</option>
          <option value="ssd" selected>Court #1</option>
        </select>
  </div>
</div>

<!-- Case Number -->
<div class="flex-container">
  <div class="flex-item c-2column">
    <label>Case Number: *</label>
    <input type="text" id="case-number" value="092769302" name="case-number" placeholder="e.g. 092769302">
  </div>
  <div class="flex-item c-2column">
    <p><i>If you have a citation number AND a case or docket number, we suggest using the case or docket number.</i>
    </p>
  </div>
</div>

<!-- Driver's License State & Number -->
<div class="flex-container">
  <div class="flex-item c-2column">
    <label>Driver’s License State: *</label>
    <select class="w-100" name="license-state" id="license-state">
          <option value="" selected="selected">Select a State</option>
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DE">Delaware</option>
          <option value="DC">District Of Columbia</option>
          <option value="FL">Florida</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="IA">Iowa</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="ME">Maine</option>
          <option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option>
          <option value="MO">Missouri</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NV">Nevada</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NY">New York</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
        </select>
  </div>
  <div class="flex-item c-2column">
    <label>Driver’s License Number: *</label>
    <input type="text" id="license-number" name="license-number" placeholder="e.g. DL05876">
  </div>
</div>

<!-- Submit -->
<div class="flex-container">
  <button id="submit" type="submit">Save</button>
</div>

</form>
</div>
